<div class="container">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" class="form-control" placeholder="Budi123" [(ngModel)]="user.username" (ngModelChange)="validateInput($event, 'username')" >
            <div class="invalid-feedback" style="margin-bottom: 10px;" *ngIf="!valid.username && isSubmit">
                Username tidak boleh kosong!
            </div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" class="form-control" placeholder="Budi@12345" [(ngModel)]="user.password" (ngModelChange)="validateInput($event, 'password')" >
            <div class="invalid-feedback" style="margin-bottom: 10px;" *ngIf="!valid.username && isSubmit">
                Password tidak boleh kosong!
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isSubmit; else signinBlock"></span>
                <ng-template #signinBlock>Signin</ng-template>
            </button>
            
        </div>
    </form>
</div>